
[submodule ".emacs.d/contrib/cedet"]
	path = .emacs.d/contrib/cedet
	url = https://github.com/onixie/cedet.git
	ignore = dirty

[submodule ".emacs.d/contrib/ibus"]
	path = .emacs.d/contrib/ibus
	url = https://github.com/onixie/ibus.git
	ignore = dirty
