.emacs.d/ac-comphist.dat
.emacs.d/.projects.ede
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/session.*
.emacs.d/.session
.emacs.d/ede-projects.el
.emacs.d/ido.last
.emacs.d/srecode-map.el
.emacs.d/tramp
.emacs.d/eshell/*
.emacs.d/network-security.data
.emacs.d/url/*
.emacs.d/.org-id-locations
.emacs.d/.python-environments/*
.emacs.d/kkcrc
.emacs.d/.lsp*
.emacs.d/transient/*
dot-emacs*.tar.gz
\#*\#
*~
*.elc
.emacs.d/.cache/treemacs-persist
.emacs.d/last-refreshed-time.el
.emacs.d/.cache/*
.emacs.d/.mc-lists.el
