**/ac-comphist.dat
**/.projects.ede
**/auto-save-list
**/elpa
**/session.*
**/.session
**/ede-projects.el
**/ido.last
**/srecode-map.el
**/tramp
**/eshell/*
**/network-security.data
**/url/*
**/.org-id-locations
**/.python-environments/*
**/kkcrc
**/.lsp*
**/transient/*
dot-emacs*.tar.gz
\#*\#
*~
*.elc
**/.cache/treemacs-persist
**/last-refreshed-time.el
**/.cache/*
**/.mc-lists.el
**/eclipse.jdt.ls/
**/workspace/
