Source: flim
Section: mail
Priority: optional
Maintainer: Tatsuya Kinoshita <tats@debian.org>
Build-Depends: debhelper (>= 7), quilt (>= 0.40)
Build-Depends-Indep: emacs
Standards-Version: 3.8.1
Homepage: http://kanji.zinbun.kyoto-u.ac.jp/~tomo/elisp/FLIM/

Package: flim
Architecture: all
Depends: emacs | emacsen, apel (>= 10.7)
Recommends: metamail
Suggests: semi, wl | wl-beta
Conflicts: tm, semi-gnus (<< 1:6.10.13), flim1.13
Replaces: flim1.13
Description: library about internet message for emacsen
 FLIM (Faithful Library about Internet Message) is a library to provide
 basic functions about message representation and encoding for emacsen.
 It consists of following modules:
 .
  std11.el         STD 11 (RFC 822) parser and utility
  mime.el          to provide various services about MIME-entities
  mime-def.el      Definitions about MIME format
  mime-parse.el    MIME parser
  mel.el           MIME encoder/decoder
  mel-b-dl.el      base64 (B-encoding) encoder/decoder
                   (for Emacs 20 with dynamic loading support)
  mel-b-ccl.el     base64 (B-encoding) encoder/decoder (using CCL)
  mel-b-en.el      base64 (B-encoding) encoder/decoder (for other emacsen)
  mel-q-ccl.el     quoted-printable and Q-encoding encoder/decoder (using CCL)
  mel-q.el         quoted-printable and Q-encoding encoder/decoder
  mel-u.el         unofficial backend for uuencode
  mel-g.el         unofficial backend for gzip64
  eword-decode.el  encoded-word decoder
  eword-encode.el  encoded-word encoder
