#! /usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

PACKAGE=flim
ELDIR=$(CURDIR)/debian/$(PACKAGE)/usr/share/emacs/site-lisp/$(PACKAGE)
EMACS=emacs

build: build-stamp
build-stamp: debian/stamp-patched
	dh_testdir

	$(EMACS) -batch -q -no-site-file \
	  -eval '(set-language-environment "Japanese")' \
	  -eval "(prefer-coding-system 'iso-2022-jp)" \
	  -eval '(find-file "mime-en.texi")' \
	  -l texinfmt -f texinfo-every-node-update -f texinfo-format-buffer \
	  -f save-buffer
	$(EMACS) -batch -q -no-site-file \
	  -eval '(set-language-environment "Japanese")' \
	  -eval "(prefer-coding-system 'iso-2022-jp)" \
	  -eval '(find-file "mime-ja.texi")' \
	  -l texinfmt -f texinfo-every-node-update -f texinfo-format-buffer \
	  -f save-buffer

	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp
	-rm -f *.info .\#*

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	cp Makefile FLIM-* *.el $(ELDIR)/
	rm -f $(ELDIR)/FLIM-API*

# Install obsolete files in the attic directory.
	for f in mailcap.el smtpmail.el; do \
	  if [ -f $(ELDIR)/$$f ]; then mv $(ELDIR)/$$f $(ELDIR)/attic/; fi; \
	done

	touch install-stamp

binary-indep: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
#	dh_installexamples
	dh_installemacsen --priority 50
	dh_installinfo -n
	dh_installchangelogs ChangeLog
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
